/*javascript page styles*/
body, html, * {
	margin:0;
	padding:0;
	font-family: verdana, arial, sans-serif;
}

body {
	font-size:12px;
}

#outerWrapper {
	width:960px;
	margin:10px auto;
	text-align:center;
}

#innerWrapper {
	width:960px;
}
body {
	font-size:14px;
}

a , a:visited {
	color:#523929;
}

a:hover {
	color: #c00;
}

#jsHome {
	text-align:center;
	margin:10% auto 60px auto;
	width:516px;
	overflow:hidden;
}

#jsHomeL {
	float:left;
	border-right:1px solid #523929;
	height:200px;
	width:200px;
	margin-top:10px;
}

#jsHomeR {
	float:left;
	text-align:left;
	margin-left:15px;
	width:300px;
}

#jsHomeL img {
	margin-top:70px;
}

#jsHome ul li {
	list-style:none;
}

#jsHome h1{
	font-size:18px;
	margin-bottom:18px;
}

#ggladHome, #gglad  {
	margin:60px 0;
	clear:both;
	text-align:center;
}

#content {
	margin:30px auto;
	width:516px;
	text-align:left;
}

#content.tbl {
	width:800px;
}

.tbl table {
}

.tbl td {
	padding:4px;
	border:1px solid #523929;
}

#siteSection {
	font-family: verdana,arial,sans-serif;
	color: #523929;
	margin-bottom:12px;
	font-size:14px;
	font-weight:bold;
}

h1 {
	font-family: verdana,arial,sans-serif;
	color: #915C3A;
	margin-bottom:30px;
	font-size:18px;
}

h2 {
	font-family: verdana,arial,sans-serif;
	color: #523929;
	margin-bottom:12px;
	font-size:14px;
	font-weight:bold;
}

p { 
	margin-bottom:12px;
}

p.code {
	margin:0;
}

#content ul, #content ol {
	text-align:left;
	margin:20px 0 20px 40px;
}

#content ul li , #content ol li{
	margin-bottom:8px;
}

.lnks {
	margin-left:50px;
}

.nav {
	text-align:center;
	clear:both;
	font-size:12px;
}

.subNav {
	margin:0 0 8px 8px;
	border:1px solid #523929;
	padding:4px;
	float:right;
	font-size:10px;
	border-radius:6px;
}


.subNav p {
	font-weight:bold;
}

#content .subNav ul  {
	margin:6px 6px 6px 0;
	padding:0;
}

#content .subNav ul li {
	margin:0 0 3px 14px;
	padding:0;
}

.assIntro {
	font-style:italic;
}

.result {
	margin: 6px 0 0 16px;
}

.assNext {
	margin: 40px 0 0 0;
}

.reading {
	margin:40px 0 30px 0;
	font-size:12px;
}

.exNav {
	padding:4px;
	width:170px;
}


.vNav {
	padding:14px;
	width:150px;
}

/*.aNav {
	padding:10px;
	width:120px;
}*/

#content .exNav ol {
	margin: 0 0 0 18px;
}

.returnLink {
	margin: 30px 0 0 0;
	font-weight: bold;
	text-align: center;
}

.assDesc {
	font-size:12px;
}

#content ol ul {
	list-style:disc;
	margin-left:16px;
}

.sourceCode {
	margin-left:0px;
	background:#eee;
	border:1px solid #999;
	padding:20px;
	border-radius:6px;
	word-wrap: break-word;
}

.returnEx {
	text-align:right;
	margin-bottom:6px;
}

.viewSource {
	border:1px solid;
}

#searchBox {
	margin:20px 120px 0 0;
	float:right;
}

#searchBox input[type=submit] {
	margin-left:6px;
}

table.chart {
	margin:12px 0;
}

table.chart td, table.chart th {
	margin:0;
	padding:2px;
	border:1px solid #999;
}

table.chart th {
	background:#ddd;
	font-weight:bold;
}

.nextUp {
	clear:both;
}


#gglsky {
	/*border:2px solid red;*/
	height:240px;
	width: 120px;
	float: right;
	clear: right;
	margin-top: 70px;
}